.content .container-content {      
    max-width: 980px;      
    margin: 10px auto 0 auto;
    display: flex;
}
.content-blog{
    width: 50%;
    padding: 10px;
}
.content-blog img{
    width: 100%;
}

.container-content:nth-of-type(even) {
    flex-direction: row-reverse;
}
@media screen and (max-width: 480px) {
    .content .container-content{
        flex-direction: column;
    }
    .content-blog {
        width: auto;
    }
}
